type project

releasenotes
  USABILITY: BeginFullScreen & EndFullScreen command.
  USABILITY: LoadedBehavior
  BREAKING CHANGE: Use custom MediaState.

tags wpf xaml media mediaelement
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Media
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers