type project

releasenotes
  USABILITY: UnmuteVolume command.
  BREAKING CHANGE: Renamed MuteVolume & CanMuteVolume
  BUGFIX: Use SetCurrentValue for mutable dependency properties.
  BUGFIX: Handle set source to null.

tags wpf xaml media mediaelement
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Media
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers