type project

releasenotes
  USABILITY: Brushes as DynamicResources and keys in media:Brushes.

tags wpf xaml media mediaelement
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Media
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers